<div class="custom-node @(Node.Selected ? " selected" : "")">
    <div class="card" style="height: 35px; width: 140px; background-color: #eb4a56; color: white; border-radius: 25px; text-align: center;">
        <h5>End</h5>
        @if (!String.IsNullOrEmpty(Node.Title))
        {
            <span>Title: @Node.Title</span>
        }
    </div>

    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port"></PortRenderer>
    }
</div>

@code {
    [Parameter]
    public EndNode Node { get; set; }
}
