<div class="custom-node @(Node.Selected ? " selected" : "")">
    <div class="card" style="height: 35px; width: 140px; background-color: #00a651; color: white; border-radius: 25px; text-align: center;">
        <h5>Start</h5>
        @if (!String.IsNullOrEmpty(Node.Title))
        {
            <span>Title: @Node.Title</span>
        }
        <button class="btn btn-dark m-lg-auto"  @onclick="Node.Start">Test</button>
    </div>

    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port"></PortRenderer>
    }
</div>

@code {
    [Parameter]
    public StartNode Node { get; set; }
}
